on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

name: CI

jobs:
  build_and_test:
    name: Build & Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
        name: Checkout repository
        with:
          submodules: true
      - uses: actions-rs/toolchain@v1
        name: Install Rust toolchain
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        name: Run `cargo xtask download-roms`
        with:
          command: xtask
          args: download-roms
      - uses: actions-rs/cargo@v1
        name: Run `cargo check --all-features`
        with:
          command: check
          args: --all-features
      - uses: actions-rs/cargo@v1
        name: Run `cargo build --all-features`
        with:
          command: build
          args: --all-features
      - uses: actions-rs/cargo@v1
        name: Run `cargo test`
        with:
          command: test
